In [119]:
import pandas as pd
from sklearn import metrics
from sklearn.linear_model import LogisticRegression

from titanic.clean import clean_titanic_data

# Prepare data
* Remove irrelevant columns
* Drop nulls
* Code non-numeric data numerically where possible

In [123]:
data = pd.read_csv("data/train.csv", index_col='PassengerId')
data = clean_titanic_data(data=data)
data

             Survived  Pclass   Age  SibSp  Parch     Fare  SexCode
PassengerId
1                   0       3  22.0      1      0   7.2500        1
2                   1       1  38.0      1      0  71.2833        2
3                   1       3  26.0      0      0   7.9250        2
4                   1       1  35.0      1      0  53.1000        2
5                   0       3  35.0      0      0   8.0500        1
...               ...     ...   ...    ...    ...      ...      ...
887                 0       2  27.0      0      0  13.0000        1
888                 1       1  19.0      0      0  30.0000        2
889                 0       3   NaN      1      2  23.4500        2
890                 1       1  26.0      0      0  30.0000        1
891                 0       3  32.0      0      0   7.7500        1

[891 rows x 7 columns]

In [113]:
data.count()

Survived    891
Pclass      891
Age         714
SibSp       891
Parch       891
Fare        891
SexCode     891
dtype: int64

In [114]:
data.dropna(inplace=True)
data.count()

Survived    714
Pclass      714
Age         714
SibSp       714
Parch       714
Fare        714
SexCode     714
dtype: int64

# EDA
* Use visualisations to confirm that we have relatively even representations of all values for all features under consideration

# Model Creation
* Fit model
* Make predictions on test data
* Evaluate score

In [115]:
X_train = data.drop(columns='Survived').to_numpy()
X_train

array([[ 3.    , 22.    ,  1.    ,  0.    ,  7.25  ,  1.    ],
       [ 1.    , 38.    ,  1.    ,  0.    , 71.2833,  2.    ],
       [ 3.    , 26.    ,  0.    ,  0.    ,  7.925 ,  2.    ],
       ...,
       [ 1.    , 19.    ,  0.    ,  0.    , 30.    ,  2.    ],
       [ 1.    , 26.    ,  0.    ,  0.    , 30.    ,  1.    ],
       [ 3.    , 32.    ,  0.    ,  0.    ,  7.75  ,  1.    ]])

In [116]:
y_train = data['Survived'].to_numpy()

In [117]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()